
@font-face {
    font-family: 'CirceExtraBold'; 
    src: url('fonts/circe_extra_bold.ttf') format('truetype')                     
}
@font-face {
    font-family: 'CirceRegular'; 
    src: url('fonts/circe.ttf') format('truetype')                     
}
body {
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;            
}

/* Книжная ориентация */
.portrait-mode {
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
        
        /* Альбомная ориентация */
.landscape-mode {    
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.hidden {
    display: none !important;
}

.start-screen {            
    width: 375px; 
    height: 734px;
    text-align: center;            
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('pic/bg_start.jpg'); /* Путь к изображению */
    background-size: cover;
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}
.rules-screen {            
    display: none; /* Скрываем диалог по умолчанию */
    width: 375px;             
    height: 734px;
    text-align: center;            
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('pic/bg_rules.jpg'); /* Путь к изображению */
    background-size: cover;
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.rules-screen-body {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    padding: 5px;
    width: 90%;   
    font-size: 12px;
    color: #322A22;            
    background-color:burlywood;
    border: 2px solid brown; /* Добавлен стиль границы */
    border-radius: 16px;    
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: justify;
}

.lose-screen-body {    
    width: 320px;    
    height: 80px; 
    display: flex;
    justify-content: center;   
    text-align: center;   
    margin-top: 220px;    
    padding: 5px;    
    background-color:burlywood;
    border: 2px solid brown; /* Добавлен стиль границы */
    border-radius: 16px;    
    font-family: 'CirceRegular', Arial, sans-serif;            
}

.win-screen-body {        
    height: 120px;        
}

.game-screen {
    display: none; /* Скрываем диалог по умолчанию */            
    width: 734px; 
    height: 375px;  
    z-index: 1000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-image: url('pic/bg_game.jpg'); /* Путь к изображению */
    background-size: cover; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}    

.game-screen-turn {
    background-image: url('pic/bg_turn_screen.jpg'); /* Путь к изображению */    
} 

.game-screen-win {
    background-image: url('pic/bg_win.jpg'); /* Путь к изображению */    
} 

.game-screen-lose {
    background-image: url('pic/bg_lose.jpg'); /* Путь к изображению */    
} 

/* Базовый общий класс для всех кнопок */
.button-common {
    height: 64px;
    border-radius: 36px;
    border-color: black;
    border-width: 3px;
    font-size: 25px;
    font-family: 'CirceExtraBold', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-common-327 {
    width: 327px;    
    background-color: red;
}

.button-common-280-red {
    width: 280px; 
    height: 48px;
    font-size: 18px;   
    margin-right: 20px;
    margin-top: -30px;
    background-color: red;
}

.button-common-280-green {    
    background-color: green;
}


/* Класс для кнопки с правилами игры */
.button-common-rules {
    width: 327px;    
    background-color: green;
}

.hidden {
    display: none; /* Элемент полностью скрыт */
} 

.modal-dialog {
    display: none; /* Скрываем диалог по умолчанию */
    position: fixed;
    width: 734px; 
    height: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-image: url('pic/bg_win.jpg'); /* Путь к изображению */
    background-size: 100% 100%; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.text_16_circe_regular_white {    
    font-size: 16px;
    line-height: 1;    
    color: #ffffff;
    font-weight: normal;
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: center;
}

.text_20_circe_regular_black {    
    font-size: 20px;
    line-height: 1;    
    color: #0000;
    font-weight: normal;
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: center;
}

.ved_timer {
    display: flex;    
    gap: 50px; /* Отступ между элементами (можно настроить по своему усмотрению) */
}

.timer-text {
    color: white;
    font-size: 32px;
    font-family: 'CirceRegular', Arial, sans-serif;    
    position: relative;   
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-right {
    display: flex;
    justify-content: right;
}

.timer-body {
    width: 75px;
    height: 64px;
    border: 2px solid #FE961B; /* Добавлен стиль границы */
    border-radius: 24px;
    gap: 10;
    cursor: pointer; /* Указатель мыши становится рукой при наведении */
    background-color: #FE961B; /* Прозрачность фона кнопки */
    display: flex; /* Размещаем изображение по центру */
    align-items: center;
    justify-content: center;
}

   