
@font-face {
    font-family: 'CirceExtraBold'; 
    src: url('fonts/circe_extra_bold.ttf') format('truetype')                     
}
@font-face {
    font-family: 'CirceRegular'; 
    src: url('fonts/circe.ttf') format('truetype')                     
}
body {
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
    padding-top: env(safe-area-inset-top); /* Использует безопасный отступ области просмотра */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;            
}

/* Книжная ориентация */
.portrait-mode {
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
        
        /* Альбомная ориентация */
.landscape-mode {    
    font-family: 'CirceRegular', Arial, sans-serif;    
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.hidden {
    display: none !important;
}

.start-screen {            
    width: 375px; 
    height: 734px;
    text-align: center;            
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('pic/bg_start.jpg'); /* Путь к изображению */
    background-size: cover;
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}
.rules-screen {            
    display: none; /* Скрываем диалог по умолчанию */
    width: 375px;             
    height: 734px;
    text-align: center;            
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('pic/bg_rules.jpg'); /* Путь к изображению */
    background-size: cover;
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.rules-screen-body {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    padding: 5px;
    width: 90%;   
    font-size: 12px;
    color: #322A22;            
    background-color:burlywood;
    border: 2px solid brown; /* Добавлен стиль границы */
    border-radius: 16px;    
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: justify;
}

.lose-screen-body {    
    width: 320px;    
    height: 80px; 
    display: flex;
    justify-content: center;   
    text-align: center;   
    margin-top: 220px;        
    padding: 5px;    
    background-color:burlywood;
    border: 2px solid brown; /* Добавлен стиль границы */
    border-radius: 16px;    
    font-family: 'CirceRegular', Arial, sans-serif;            
}

.message-body {    
    width: auto;    
    height: auto; 
    display: flex; 
    font-size: 16px;      
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;   
    text-align: center;           
    background-color:burlywood;
    border: 2px solid brown; 
    border-radius: 16px;    
    font-family: 'CirceRegular', Arial, sans-serif;            
}

.win-screen-body {        
    height: 120px;        
}

.game-screen {
    position: relative;
    display: none; /* Скрываем диалог по умолчанию */            
    width: 734px; 
    height: 375px;      
    z-index: 1000;            
    background-image: url('pic/bg_game.jpg'); /* Путь к изображению */
    background-size: cover; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}    

.game-screen-turn-albom {
    display: none;
    width: 375px; 
    height: 734px;   
    background-image: url('pic/bg_turn_screen_albom.jpg'); /* Путь к изображению */    
} 

.game-screen-turn-land {
    display: block;
    width: 734px;
    height: 375px;   
    background-image: url('pic/bg_turn_screen_land.jpg'); /* Путь к изображению */    
} 


.game-screen-win {
    background-image: url('pic/bg_win.jpg'); /* Путь к изображению */    
} 

.game-screen-lose {
    background-image: url('pic/bg_lose.jpg'); /* Путь к изображению */    
} 

.top-bar-parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Базовый общий класс для всех кнопок */
.button-common {
    height: 64px;
    border-radius: 36px;
    border-color: black;
    border-width: 3px;
    font-size: 25px;
    font-family: 'CirceExtraBold', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-common-327 {
    width: 327px;    
    background-color: red;
}

.button-common-280-red {
    width: 280px; 
    height: 48px;
    font-size: 18px;   
    margin-right: 20px;
    margin-top: -30px;
    background-color: red;
}

.button-common-280-green {    
    background-color: green;
}

.button-common-280-green:disabled {        
    cursor: not-allowed;     /* Курсор меняет форму на "недоступно" */
    box-shadow: none;         /* Убираем тени и эффекты */
    pointer-events: none;    /* Предотвращаем любые взаимодействия с кнопкой */
    opacity: 0.5;
}


/* Класс для кнопки с правилами игры */
.button-common-rules {
    width: 327px;    
    background-color: green;
}

.hidden {
    display: none; /* Элемент полностью скрыт */
} 

.modal-dialog {
    display: none; /* Скрываем диалог по умолчанию */
    position: fixed;
    width: 734px; 
    height: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-image: url('pic/bg_win.jpg'); /* Путь к изображению */
    background-size: 100% 100%; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.text_16_circe_regular_white {    
    font-size: 16px;
    line-height: 1;    
    color: #ffffff;
    font-weight: normal;
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: center;
}

.text_20_circe_regular_black {    
    font-size: 20px;
    line-height: 1;    
    color: #0000;
    font-weight: normal;
    font-family: 'CirceRegular', Arial, sans-serif;        
    text-align: center;
}

.top_bar_conteiner {  
    margin-top: 20px;
    display: flex;   
    justify-content: space-between; /* Распределяет элементы по краям контейнера */    
    align-items: center;
    width: 100%; /* Контейнер занимает всю доступную ширину */    
}

.game-area {
    display: flex;
    justify-content: space-between; /* Горизонтальное распределение */
    align-items: flex-end;          /* Прикрепляет элементы к нижней границе */
    height: 170px;    
    width: 100%;    
}

.bottom_bar_conteiner {      
    display: flex;          
    align-items: center; 
    justify-content: space-between; /* Распределяет элементы по краям контейнера */    
    width: 100%; /* Контейнер занимает всю доступную ширину */    
}

.timer-text {
    color: black;
    font-size: 32px;
    font-family: 'CirceRegular', Arial, sans-serif;    
    position: relative;   
}

.music-button {   
    height: 65px;
    width: 65px; 
    display: flex;    
    justify-content: center;
    align-items: center;                    
    outline: none;             /* Удаление контура при фокусировке */
    cursor: pointer;          /* Курсор вида 'рука' при наведении */
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    border: none;    
}

.jump-button {   
    height: 50px;
    width: 50px;    
    margin-right: 40px;    
    display: flex;    
    justify-content: center;
    align-items: center;                   
    outline: none;             /* Удаление контура при фокусировке */
    cursor: pointer;          /* Курсор вида 'рука' при наведении */
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    border: none;    
}


.modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-right {
    display: flex;
    justify-content: right;
}

.timer-body {   
    position: relative;
    width: 65px; /* Автоматически определит необходимую ширину */
    height: 65px; /* То же самое для высоты */
    display: flex;
    margin-left: 20px;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center;
    background-image: url('pic/timer.png');    
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Запрещаем повторение */
    padding: 10px; /* Добавляем немного пространства вокруг содержимого */  
}

.enemy-conteiner, .hero-conteiner {
    position: absolute; /* Позиция абсолютная относительно родительского контейнера */    
    width: auto;        /* Пример ширины персонажей */
    height: auto;       /* Пример высоты персонажей */
}

.enemy-conteiner {
    left: 0px;         /* Слева возле левого края */    
}

.hero-conteiner {
    right: 140px;        /* Справа возле правого края */    
}
/* Индивидуальные размеры изображений */
#enemy_id, #hero_id {
    width: auto;
    height: auto;
}

/* Прозрачность и скрытие персонажа при столкновениях */
.hide_herro_anination {
    animation: fadeOut 1s forwards;
}

#jump_button_id img {
    width: auto;
    height: auto;
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes heroJump {
    0%, 100% {
        transform: translateY(0); /* Начальная и конечная позиции */
    }
    50% {
        transform: translateY(-150px); /* Максимальный подъём вверх */
    }
}

.hero-jumping {
    animation: heroJump 1s ease-out both; /* Длительность и характер анимации */
}

@keyframes enemyMove {
    0% {
        transform: translateX(0); /* Начальная позиция */
    }
    100% {
        transform: translateX(100vw); /* Движемся на всю ширину экрана */
    }
}


   